/RPG/nbproject/private/
/RPG/dist/
/RPG/build/
/Story/storyStuff/nbproject/private/
/BorderPaneFun/nbproject/private/
/BorderPaneFun/build/
/BorderPaneFun/dist/
/PepperoniPizzaFun/nbproject/private/
/PepperoniPizzaFun/build/
/PepperoniPizzaFun/dist/
/Puzzles/riddlePuzzle/nbproject/private/
/Puzzles/riddlePuzzle/build/
/Puzzles/riddlePuzzle/dist/