
.root {
    -fx-background-image: url("file:images/root-bgd.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-font-size: 14pt;
    -fx-text-fill:#470000;
    -fx-focus-color: transparent;
  }

  .label {
      -fx-font-weight: bold;
      -fx-wrap-text:true;
  }
.button, .button:focus, .button:active {
    -fx-background-image: url("file:images/btn-bgd.jpg");
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
   -fx-background-size: cover;
   -fx-font-size: 11pt;
   -fx-text-fill:#470000;
   -fx-border-color:#470000;
    -fx-border-width: 1 2 2 1;
    -fx-outline:none;
    -fx-cursor: hand;
}

.button:hover {
   -fx-text-fill:rgba(71, 0, 0, 0.8);
}

.my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

#upBtn {
    -fx-graphic: url("file:images/up.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: none;
    -fx-border-width: none;
}
#downBtn {
    -fx-graphic: url("file:images/down.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: none;
    -fx-border-width: none;
}
#rightBtn {
    -fx-graphic: url("file:images/right.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: none;
    -fx-border-width: none;
}
#leftBtn {
    -fx-graphic: url("file:images/left.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: none;
    -fx-border-width: none;
}
#closeBtn {
    -fx-graphic: url("file:images/close.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: none;
    -fx-border-width: none;
    -fx-margin-top: 300px;
}